<!DOCTYPE html>
<html> 
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos disponibles 1</h1>
    <ul>
        {% for producto in productos %}
        <li>{{ producto.nombre }} - ${{ producto.precio }}</li>
        {% endfor %}
    </ul>

    <h1><a href="/inicio" class="btn"> home</a></h1>

    <u>"u" subrraya el texto</u>
    <p> "p" cambia hacia la linea de abajo y deja espacios entre medio</p>
    <q> "q" pone comillas</q>
    <ol> "ol" pone un marjen del texto</ol> 
    hola con "br" puedes saltar a la linea de abajo<br> hola <br>
    <em> "em" pone cursiba</em> <br>
    <embed src="" type="">
</body>

</html>