{% extends 'inventario/base.html' %}
{% block title %} Vista Productos | 💻{% endblock %}

{% block header %}
<header class="flex gap-6">
    <a class="text-cyan-500 underline" href="/inventario/base/">Base</a>
    <a class="underline" href="{% url 'producto_create' %}">Agregar producto</a>
</header>
{% endblock  %}
{% block breadcrumb %}

Vista Producto
{% endblock  %}
{% block content %}
<section class="p-8 gap-4 flex flex-col w-full">
    <h2 class="text-lg">Productos disponible</h2>
    <h2>Aqui encontraras los mejores productos</h2>
    <ul class="border p-4 flex flex-col gap-2 bg-gray-200">
        {% for producto in productos %}
        <li class="flex flex-col gap-1 border p-2 bg-white shadow">
            <span>{{ producto.nombre }}</span>
            <span>{{ producto.precio }}</span>
            <span>{{ producto.descripcion }}</span>
            <span>{{ producto.stock }}</span>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock  %}
{% block footer%}
<footer>
    <span>
        <h5 style="text-align: center; position: absolute; bottom: 0; width: 100%;">©️ Derechos de autor reservados</h5>
    </span>
</footer>
{% endblock  %}